@mixin transition($property...) {
    transition-property: $property;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

@mixin reset-list {
    list-style-type: none;
    padding-left: 0;
    margin: {
        top: 0;
        bottom: 0;
    };
}

@mixin reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    text-align: inherit;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;

    }
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function calcfluidfontsize($f-min, $f-max, $v-min, $v-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $v-min: strip-unit($v-min);
    $v-max: strip-unit($v-max);

    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;

    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}

$base-font-size: calcfluidfontsize(16, 20, 1280, 1920);
