$red: #ff0000;
$green: #00ff00;
$black: #000000;
$white: #ffffff;
$gray: #ddd;
$skills: 7;
$step: 360/20;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-size: $base-font-size;
}

.wrapper {
    padding: 1%;
}

.person {
    @media screen and (min-width: 650px) {
        display: flex;
    }

    @media print {
        display: flex;
    }
}

.person__photo {
    width: 100%;

    @media screen and (min-width: 650px) {
        width: 25%;
    }

    @media print {
        width: 30%;
    }
}

.person__photo-img {
    width: 100%;
    display: block;
}

.person__info {
    flex-grow: 1;
    padding: 2% 3%;
    position: relative;
    background-color: $gray;
}

.person__form {
    label {
        display: none;
    }

    input {
        @include transition(border-color, background-color);
        font-family: Arial, sans-serif;
        border: 1px solid transparent;
        background: none;
        padding: 0 1%;
        line-height: 1.5;
        width: 100%;

        &:hover {
            border-color: rgba($black, 0.3);
        }

        &:focus {
            outline: none;
            background-color: $white;
            border-color: rgba($black, 0.3);
        }
    }
}

.person__controls {
    @include transition(opacity);
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

.person__control {
    @include reset-button;
    margin-right: 10%;
    background-color: $gray;
    border-radius: 100%;
    width: 20px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 100%;

    @media screen and (min-width: 650px) {
        font-size: 80%;
        width: 25px;
        height: 20px;
    }
}

.person__name {
    position: relative;
    width: 100%;

    @media screen and (min-width: 650px) {
        width: 50%;
    }

    input {
        font-size: 200%;
    }
}

.person__country {
    position: relative;
    width: 100%;
    margin-bottom: 0.5%;

    @media screen and (min-width: 650px) {
        width: 50%;
    }

    input {
        color: rgba($black, 0.6);
        font-weight: 600;
        font-size: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

.person__language {
    margin-bottom: 3.5%;
    color: rgba($black, 0.6);
    font-weight: 600;
    font-size: 100%;
    padding-left: 0.6%;
}

.person__skills-list {
    @include reset-list;
    padding-left: 0.6%;
    display: flex;
    flex-wrap: wrap;
}

.person__skill {
    margin-bottom: 2.5%;
    padding: 2px 5px;
    background-color: $black;
    color: $white;
    border-radius: 3px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 90%;
    position: relative;

    @for $i from 1 through $skills {
        &:nth-child(#{$skills}n + #{$i}) {
            background-color: hsl(($i - 1)*$step, 50%, 40%);
        }
    }

    &:hover {
        .person__skill-remove {
            opacity: 1;
            visibility: visible;
        }
    }
}

.person__skill-remove {
    @include transition(opacity);
    @include reset-button;
    position: absolute;
    right: 2%;
    top: 20%;
    background-color: $red;
    color: $white;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 80%;
    opacity: 0;
    visibility: hidden;
}

.person__add-skills {
    @include transition(border-color, background-color);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.6%;
    position: relative;
    border: 1px solid transparent;
    text-align: left;

    @media screen and (min-width: 650px) {
        width: 40%;
    }

    @media print {
        display: none;
    }

    &.is-active {
        background-color: $white;
        border-color: $green;

        .person__skills-select {
            opacity: 1;
            visibility: visible;
        }

        .person__controls {
            opacity: 1;
            visibility: visible;
        }
    }
}

.person__add-skills-btn {
    @include reset-button;
    padding-left: 1%;
    font-size: 100%;
    flex-grow: 1;
}

.person__skills-select {
    @include transition(opacity);
    margin-right: 10%;
    opacity: 0;
    visibility: hidden;
    font-size: 100%;
}

.print-page-btn {
    @include reset-button;
    position: absolute;
    right: 2%;
    top: 3%;
    background-color: $black;
    border-radius: 15px;
    color: $white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 90%;

    @media print {
        display: none;
    }
}

.information {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-right: 1px solid $gray;

    @media screen and (min-width: 650px) {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: calc(50% - 1px);
            width: 1px;
            height: 100%;
            background-color: $gray;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $gray;
        }
    }

    @media print {
        border-top: 1px solid $gray;
    }
}

.information__section {
    width: 50%;
    min-height: 170px;
    padding: 2% 0;
    border: {
        bottom: 1px solid $gray;
        left: 1px solid $gray;
    }

    @media screen and (min-width: 650px) {
        width: 25%;
        min-height: 240px;
    }

    &:last-child {
        margin-left: auto;

        @media screen and (max-width: 650px) {
            flex-grow: 1;
        }
    }

    h3 {
        margin: 0 0 15% 0;
        color: rgba($black, 0.7);
        text-align: center;
        position: relative;
    }

    blockquote {
        font-style: italic;
        margin: 0;
        padding: 0 10%;
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: -15%;
            right: 5%;
            width: 40px;
            height: 44px;
            z-index: -1;
            background: transparent url('/images/quote.png') 0 0 no-repeat;
        }

        &:after {
            bottom: auto;
            right: auto;
            left: 5%;
            top: -15%;
            transform: rotate(180deg);
        }
    }

    footer {
        text-align: right;
    }

    cite {
        font-style: normal;
        font-size: 80%;
        font-weight: 600;
    }
}

.information__section_type_code {
    background: transparent url('/images/code.png') 50% 50%/cover no-repeat;
    padding: 0;
    position: relative;

    h3 {
        padding: 8%;
        background-color: rgba($white, 0.8);
    }

    @media print {
        display: none;
    }
}

.information__section_type_env {
    h3 {
        margin-bottom: 5%;
    }
}

.information__subttl {
    font-size: 75%;
    font-weight: 300;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.information__list {
    padding: 0 12%;
    margin: {
        top: 0;
        bottom: 0;
    };
    line-height: 1.3;
}

.information__time {
    font-size: 200%;
    font-weight: 600;
    color: rgba($black, 0.7);
    text-align: center;
    position: relative;
    border-bottom: 1px solid $gray;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.information__env {
    padding: 0 10%;
    text-align: center;
}
